<!DOCTYPE html>
    <head>
        <title>Chamada Engenharia de Software</title>
    </head>
    <body>
        Lista de Chamada
        <br>
        <div>Digite "presente" ou "ausente"</div>
        <div class="container">
            <ul class="list-group">
                {% for itens in alunos %}
                <li>Nome: {{itens[0]}}</li>
                <li>
                    <form method="get">
                        <input type="text" name={{itens[1]}}>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>